/*header styles*/
.logo {
	display: inline-block;
	margin-right: 100px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
}
.header-wrapper {
	background-color: lightblue;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	z-index: 50;
}

body {
	/*padding-top: 76px;*/
}
.section-after-header {
	margin-top: 76px;
}

/*position absolute & relatvie example*/
.parent-box {
	width: 400px;
	height: 400px;
	background-color: yellow;
	position: relative;
}
.child-box {
	width: 150px;
	height: 150px;
	background-color: red;
	position: absolute;
	top: 20px;
	left: 100px;
	z-index: 2;
}
.child-box2 {
	width: 150px;
	height: 150px;
	background-color: blue;
	position: absolute;
	top: 80px;
	left: 150px;
	z-index: 3;
}

/*image example absolute & relative*/
.text-image {
	position: absolute;
	top: 100px;
	right: 200px;
	color: red;
	font-size: 30px;
}
.position-block {
	position: relative;
	display: inline-block;
	/*width: 700px;*/
}
.image-position {
	width: 700px;
}
.image-absolute {
	height: 100px;
	position: absolute;
	right: 200px;
	bottom: 0;
}
/*section styles*/
.container-block {
	width: 1088px;
	margin: 0 auto;
	background-color: grey;
}
.left-block {
	width: 536px;
	background-color: yellow;
	display: inline-block;
	margin-right: 16px;
}
.right-block {
	width: 536px;
	background-color: lightblue;
	display: inline-block;
}
.text-block {
	background-color: pink;
	display: inline-block;
	width: 260px;
	vertical-align: middle;
	margin-left: 16px;
}
.image-block {
	vertical-align: middle;
}